<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./style.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
<!--Navigation bar-->
<div id="nav-placeholder">

</div>

<script>
    $(function () {
        $("#nav-placeholder").load("navigation.html");
    });
</script>
<!--end of Navigation bar-->

<h1 class = "title">About</h1>

<br><br>

<div class = "about">
    <h3>Hello! Our names are Gurtej, Saad and Manuel. We are Carleton University Students Participating In The Hack-The-Hill Hackathon!</h3>
    <h3>This Is Our First Hackathon And Have Really Enjoyed The Event!</h3>

    <br>
    <br>

    <h3>The Project We Chose To Do Was A Color Detection Web-App To Assist The Visually Impaired With Identifying Colours Around Them.</h3>
    <h3>We Chose This Project Because We All Believe The Work We Do Is More Memorable When It Benefits The Real World</h3>
</div>
</body>
</html>