<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="./nav-bar.css" />
    <link rel="stylesheet" type="text/css" href="./info-style.css" />

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact The Team!</title>
</head>
<body>
<!--Navigation bar-->
<div id="nav-placeholder">

</div>

<script>
    $(function () {
        $("#nav-placeholder").load("navigation.html");
    });
</script>
<!--end of Navigation bar-->

<h1 class = "title">Contact</h1>


<br>
    <p class = "contact">Gurtej Grewal: <a href = "https://www.linkedin.com/in/gurtej-grewal/">LinkedIn</a> <a href = "https://github.com/GrewalCreator">GitHub</a></p>
<br>
    <p class = "contact">Saad Sheikh: <a href = "https://www.linkedin.com/in/saad-sheikh-253522202/">LinkedIn</a> <a href = "https://github.com/SaadSheikh02">GitHub</a></p>
<br>
    <p class = "contact">Manuel Lucas: <a href = "https://www.linkedin.com/in/manuel-lucas-ozone/">LinkedIn</a> <a href = "https://github.com/ManueLucas">GitHub</a></p>



</body>
</html>