<link rel="stylesheet" type="text/css" href="./nav-bar.css" />
<div>
  <!--Logo Image-->
  <img class="logo" src="./images/ChromaVision-Logo.png" alt="logo">
  <h2 id = "ChromaVision">ChromaVision</h2>

  <!--Nav Bar Options-->
  <nav class=nav>

    <label for="toggle">&#9776;</label>
    <input type="checkbox" id = "toggle"/>

    <div class = "menu">
      <a class = "text" href="index.html">Project</a>
      <a class = "text" href="About.html">About</a>
      <a href="Contact.html"><button>Contact</button></a>
    </div>
  </nav>


</div>