@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


.button-list{
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    margin-top: 0;


}


.button-list li input {
    width: 300px;
    height: 200px;
    background-color: rgba(0,0,0,.5);
    color: white;
    font-weight: bold;
    font-size: xx-large;
}

.button-list li {
    display: inline-block;
    margin-right: 10px;
    outline: white auto 4px;
    text-align: center;


}

#screenshot, #choose-file{
    display: none;
}

#canvas{
    float: top;
    margin-left: 20%;
}

#colorInfo{
    position: absolute;
    top: 200px;
    left: 20px;
    border-color: black;
    border-style: solid;
    border-width: 0;
    width: 15%;

}

#color_name, #color_info{
    font-weight: bold;
    color: darkorange;
}