
extends layout

block content
  h1= "Chromavision"
  div

  div
    label
      form#form(method = "post" enctype= "multipart/form-data" onsubmit="return false")
        input#file-upload(type="file" multiple)
        input#submit-button(type="submit")


script(src="../public/javascripts/eventlisteners.js")
script(src="../public/javascripts/handlers.js")
script(type='text/javascript').

  document.querySelector('#fileUpload').addEventListener('change', event => {
    handleImageUpload(event)
  })