
doctype html
html
  head
    script(type='text/javascript').
      document.addEventListener("submit", handleSubmit)
        function handleSubmit(event) {
          let uploadfile = document.querySelector('input[type="file"]').files[0];
          let formData = new FormData();
          formData.append('file', uploadfile);//formData contains files from the submitted form
          console.log(uploadfile);
          fetch("/users", {
            method: "POST",
            body: JSON.stringify({text:"test"}),
          })
                  .then((response) => response.json())
                  .then((responseObj) => {
                  })
                  .catch((error) => {
                    console.error("Error:", error);
                  });
      }


    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
